p {
  text-align: justify;
}
img {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}
table {
  display: table !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.table {
  width: auto !important;
}

.prev-next-bottom {
  width: 100% !important;
}
.prev-next-bottom > a{
  color: rgba(0,0,0,.65) !important;
}
